@font-face {
    font-family: 'adihaus_cyr_mdregular';
    src: url('../fonts/adhcyrmd_.eot');
    src: url('../fonts/adhcyrmd_.eot?#iefix') format('embedded-opentype'),
        url('../fonts/adhcyrmd_.woff') format('woff'),
        url('../fonts/adhcyrmd_.ttf') format('truetype'),
        url('../fonts/adhcyrmd_.svg#adihaus_cyr_mdregular') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'avantgarde_bold';
    src: url('../fonts/avantgardegothicc-bold.eot');
    src: url('../fonts/avantgardegothicc-bold.eot?#iefix') format('embedded-opentype'),
         url('../fonts/avantgardegothicc-bold.woff') format('woff'),
         url('../fonts/avantgardegothicc-bold.ttf') format('truetype'),
         url('../fonts/avantgardegothicc-bold.svg#avantgardegothiccbold') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'adihaus_cyr_regregular';
    src: url('../fonts/adhcyrrg_.eot');
    src: url('../fonts/adhcyrrg_.eot?#iefix') format('embedded-opentype'),
        url('../fonts/adhcyrrg_.woff') format('woff'),
        url('../fonts/adhcyrrg_.ttf') format('truetype'),
        url('../fonts/adhcyrrg_.svg#adihaus_cyr_regregular') format('svg');
    font-weight: normal;
    font-style: normal;
}


@font-face {
    font-family: 'avg_gothic_regular';
    src: url('../fonts/avantgardegothicc.eot');
    src: url('../fonts/avantgardegothicc.eot?#iefix') format('embedded-opentype'),
        url('../fonts/avantgardegothicc.woff') format('woff'),
        url('../fonts/avantgardegothicc.ttf') format('truetype'),
        url('../fonts/avantgardegothicc.svg#avantgardegothiccregular') format('svg');
    font-weight: normal;
    font-style: normal;
}

body
{
    -webkit-text-stroke: 0;
    margin: 0;
    padding: 0;
    color: #555;
    font-size: 14px;
    font-family: adihaus_cyr_mdregular;
    background: #EFEFEF;
}
a:focus
{
    color:white;
}
#page
{
    background: white;
}
#header
{
    margin: 0;
    padding: 0;
    border-top: 3px solid #C9E0ED;
}
#content
{
}
#sidebar
{
    padding: 20px 20px 20px 0;
}
#footer
{
    padding: 10px;
    text-align: right;
    background: rgb(229,235,242);
    font-size: 11px;
}
#footer a
{
    color: dimgray;
    margin-right: 10px;
    margin-left: 10px;
    text-decoration: none;
}
#footer a:hover
{
    text-decoration: underline;
}
#footer span
{
    margin-left: 10px;
}
#logo
{
    padding: 10px 20px;
    font-size: 200%;
}
.fa-chevron-circle-right
{
    margin-left: 5px;
}
#mainmenu
{
    position: relative;
    background: white;
    padding-left: 136px;
    height: 70px;
}
#mainmenu ul
{
    margin:0px;
    height: 57px;
    list-style: none;
}
#mainmenu ul li
{
    margin: 0px;
    float: left;
    display: block;
}
#mainmenu ul li a
{
    position: relative;
    display: block;
    color: rgb(0,60,132);
    font-size:13px;
    text-decoration:none;
    padding: 25px 0 22px 0;
    margin-right: 23px;
}
#mainmenu ul li a:hover, #mainmenu ul li.active a
{
    text-decoration:none;
    color: rgb(0,60,132);
    border-bottom: 5px solid rgb(0,60,132);
}
div.flash-error, div.flash-notice, div.flash-success
{
    padding:.8em;
    margin-bottom:1em;
    border:2px solid #ddd;
}
div.flash-error
{
    background:#FBE3E4;
    color:#8a1f11;
    border-color:#FBC2C4;
}
div.flash-notice
{
    background:#FFF6BF;
    color:#514721;
    border-color:#FFD324;
}
div.flash-success
{
    background:#E6EFC2;
    color:#264409;
    border-color:#C6D880;
}
div.flash-error a
{
    color:#8a1f11;
}
div.flash-notice a
{
    color:#514721;
}
div.flash-success a
{
    color:#264409;
}
div.form .rememberMe label
{
    display: inline;
}
div.view
{
    padding: 10px;
    margin: 10px 0;
    border: 1px solid #C9E0ED;
}
div.breadcrumbs
{
    font-size: 0.9em;
    padding: 5px 20px;
}
div.breadcrumbs span
{
    font-weight: bold;
}
div.search-form
{
    padding: 10px;
    margin: 10px 0;
    background: #eee;
}
.portlet
{

}
.portlet-decoration
{
    padding: 3px 8px;
    background: #B7D6E7;
    border-left: 5px solid #6FACCF;
}
.portlet-title
{
    font-size: 12px;
    font-weight: bold;
    padding: 0;
    margin: 0;
    color: #298dcd;
}
.portlet-content
{
    font-size:0.9em;
    margin: 0 0 15px 0;
    padding: 5px 8px;
    background:#EFFDFF;
}
.portlet-content ul
{
    list-style-image:none;
    list-style-position:outside;
    list-style-type:none;
    margin: 0;
    padding: 0;
}

.portlet-content li
{
    padding: 2px 0 4px 0px;
}

.operations
{
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.operations li
{
    padding-bottom: 2px;
}

.operations li a
{
    font: bold 12px Arial;
    color: #0066A4;
    display: block;
    padding: 2px 0 2px 8px;
    line-height: 15px;
    text-decoration: none;
}

.operations li a:visited
{
    color: #0066A4;
}

.operations li a:hover
{
    background: #80CFFF;
}

/** Main
------------*/

#banner
{
    position: relative;
    display: block;
    width: 100%;
    height: 619px;
    background: url('../images/main.jpg') no-repeat;
    background-size: 100% 100%;
}
#banner_bg
{
    z-index: 1;
}
#banner_text
{
    display: block;
    width: 750px;
    height: 60px;
    margin: 0 auto;
    padding-top: 230px;
    color: white;
    font-weight: bold;
    font-size: 55px;
}
#banner_btn
{
    cursor: pointer;
    position: absolute;
    display: block;
    width: 231px;
    height: 40px;
    background: url('../images/main_btn.jpg')no-repeat;
    background-size: 231px 40px;
    bottom: 60px;
    right: 157px;
}
#how_bg
{
    position: relative;
    background: #003C84;
    width: 100%;
}
#how
{
    position: relative;
    margin: 0 auto;
    display: block;
    background: url('../images/how.png') no-repeat;
    width: 1265px;
    height: 300px;
    background-size: 100% 300px;
}
.results
{
    position: relative;
    display: block;
    width: 100%;
    height: 463px;
    background: rgb(229, 235, 242);
    padding-top: 50px;
}
.results_label
{
    display: block;
    width: 230px;
    height: 43px;
    font-weight: bold;
    background: url('../images/results_label.png') no-repeat;
    background-size: 190px 35px;
    margin-left: 125px;
}
.results_links
{
    float: right;
    margin-top: -38px;
    margin-right: 130px;
}
.results_links a
{
    margin-left: 10px;
    text-decoration: none;
}
.places_correction
{
    top: 160px!important;
}
.correction_4
{
    height: 319px!important;
}
.correction_5
{
    height: 399px!important;
}
.places
{
    position: absolute;
    display: block;
    width: 800px;
    height: 400px;
    left: 159px;
    top: 160px;
}
.places ul
{
    margin: 0;
    padding: 0;
    list-style: none;
}
.places li
{
    float: left;
    display: block;
    width: 225px;
    height: 350px;
    margin-right: 32px;
}
.place1
{
    position: relative;
    display: block;
    width: 225px;
    height: 400px;
    background: rgb(0, 60, 132);
    cursor: pointer;
}
.place2
{
    position: relative;
    margin-top: 41px;
    display: block;
    width: 225px;
    height: 358px;
    background: rgb(0, 60, 132);
    cursor: pointer;
}
.place3
{
    position: relative;
    margin-top: 80px;
    display: block;
    width: 225px;
    height: 322px;
    background: rgb(0, 60, 132);
    cursor: pointer;
}
.place_number
{
    position: absolute;
    display: block;
    width: 55px;
    height: 55px;
    left: 17px;
    top: 144px;
}
.place_name
{
    font-family: adihaus_cyr_regregular;
    color: white;
    margin-top: 42px;
    margin-left: 40px;
    font-size: 15px;
}
.place_time
{
    position: absolute;
    bottom: 17px;
    margin-left: 35px;
    color: white;
    font-size: 25px;
    font-weight: bold;
}
.collection
{
    position: relative;
    display: block;
    width: 100%;
    height: 558px;
}
.collection a 
{
    text-decoration: none;
}
.collection_link
{
    position: absolute;
    right: 157px;
    top: 75px;
    font-size: 16px;
    color: rgb(38,80,142);
    text-decoration: none;
    z-index: 10;
}
.collection_show
{
    position: absolute;
    list-style: none;
    margin-top: 50px;
}
.collection_show_block
{
    padding-top: 100px;
    position: relative;
    padding-left: 159px;
    
}
.collection_show_block ul
{
    margin: 0;
    padding: 0;
}
.correction_0
{
    top: 50px!important;
    font-size: 37px!important;
}
.collection li
{
    float: left;
    margin-right: 43px;
    display: block;
    width: 205px;
    height: 400px;
    padding-top: 50px;
}
.collection_line
{
    display: block;
    width: 205px;
    height: 10px;
    margin-bottom: 15px;
    border-bottom: 4px solid rgb(229,235,232);
}
.collection_position_name
{
    font-size: 15px;
    color: black;
}
.collection_sex, .collection_sport
{
    font-size: 13px;
    color: rgb(138,138,138);
}
.twitter_bg
{
    position: relative;
    display: block;
    width: 100%;
    height: 476px;
    background: url('../images/twitter_background.jpg')no-repeat;
    background-size: 100% 476px;
}
.correction_1
{
    top: 38px!important;
    color: white!important;
}
.twitter_link
{
    position: absolute;
    right: 157px;
    top: 65px;
    text-decoration: none;
    font-size: 15px;
    color: rgb(0,60,132);
}
.twitter_block
{
    position: relative;
    margin-left: 162px;
}
.twitter_block ul
{
    padding: 0;
    margin: 0;
    position: absolute;
    list-style: none;
    margin-top: 137px;
}
.twitter_block li
{
    display: block;
    width: 203px;
    height: 250px;
    float: left;
    margin-right: 45px;
}
.twitter_text
{
    background: white;
    padding: 15px;
    line-height: 20px;
    font-size: 17px;
}
.twitter_text_blue
{
    margin-left: 18px;
    color: rgb(0,129,211);
    font-size: 19px;
}
.twitter_frame
{
    display: block;
    width: 203px;
    height: 10px;
}
.twitter_bottom
{
    margin-left: 20px;
}
.all_results
{
    font-family: avg_gothic_regular;
    font-weight: bold;
    position: absolute;
    right: 180px;
    bottom: 65px;
    display: block;
    width: 100px;
    height: 100px;
    text-decoration: none;
    text-align: center;
    font-size: 18px;
    z-index: 1500;
}
.all_results a
{
    color: rgb(0,60,132);
}
.block_name
{
    font-family: avantgarde_bold;
    position: absolute;
    top: 61px;
    left: 157px;
    z-index: 3;
    font-size: 39px;
    color: black;
}

/* RULES
------------------------------*/

.rules_banner
{
    display: block;
    width: 100%;
    height: 536px;
    background: url('../images/rules_logo.jpg')no-repeat;
    background-size: 100% 536px;
}
.rules_map
{
    position: relative;
    display: block;
    width: 100%;
    height: 736px;
    background: url('../images/rules_map.jpg')no-repeat;
    background-size: 100% 736px;
}
.rules_simulator_map
{
    display: block;
    width: 100%;
    height: 500px;
    background: url('../images/map.jpg')no-repeat;
    background-size: 100% 500px;
}

/* RESULTS
------------------*/
.results_banner
{
    position: relative;
    display: block;
    width: 100%;
    height: 559px;
    background: url('../images/results_banner.jpg')no-repeat;
    background-size: 100% 559px;
}
.correction_2
{
    top: 50px!important;
    color: white!important;
}
.top3
{
    position: absolute;
    top: 60px;
    left: 395px;
    color: white;
    font-size: 30px;
}
.fast_link
{
    position: absolute;
    top: 71px;
    right: 173px;
    font-size: 16px;
    color: white;
    text-decoration: none;
    z-index: 10;
}
.fast_block
{
    display: block;
    width: 140px;
    height: 25px;
    border:3px solid rgb(120,150,187);
    border-radius: 2px;
    padding: 10px!important;
    position: absolute;
    top: 59px;
    right: 161px;
    font-size: 16px;
    color: white;
    z-index: 100;
    
}
.popular_link
{
    position: absolute;
    top: 71px;
    right: 345px;
    font-size: 16px;
    color: white;
    z-index: 10;
    text-decoration: none;
}
.dashed_link
{
    border-bottom: rgb(160,182,209) 1px dashed;
}
.popular_block
{
    display: block;
    width: 165px;
    height: 25px;
    border:3px solid rgb(120,150,187);
    border-radius: 2px;
    padding: 10px!important;
    position: absolute;
    top: 59px;
    right: 333px;
    font-size: 16px;
    color: white;
    z-index: 100;
}

.fast_link a, .popular_link a
{
    color: white!important;
    text-decoration: none;
    float: left;
}
.fast_link a:hover
{
    color: white!important;
}
.popular_link a:hover
{
    color: white!important;
}
.my_position
{
    position: absolute;
    right: 30px;
    bottom: 5px;
    text-align: center;
}
.trophy
{
    display: block;
    width: 104px;
    height: 104px;
    background: url('../images/trophy.png') no-repeat;
    background-size: 100px 100px;
}
.my_position_link
{
    position: relative;
    float: right;
    margin-top: -200px;
    margin-right: 150px;
    text-decoration: none;
    color: white;
    font-size: 20px;    
    z-index: 200;
}
.my_position span
{
    color: white!important;
}
.results_10
{
    position: relative;
    display: block;
    width: 970px;
    height: 205px;
    margin-left: 157px;
    margin-top: 72px;
}
.results_10_list
{
    list-style: none;
    margin: 0;
    padding: 0;
    background: blue;
}
.results_10_list li
{
    position: relative;
    display: block;
    width: 122px;
    height: 205px;
    background: rgb(0, 60, 132);
    float: left;
    margin-right: 16px;
}
.results_7_number
{
    position: absolute;
    display: block;
    width: 31px;
    height: 31px;
    left: 15px;
    top: 77px;
}
.results_7_text
{
    margin-top: 20px;
    color: white;
    margin-left: 20px;
    font-size: 13px;
}
.results_7_time
{
    position: absolute;
    left: 20px;
    bottom: 15px;
    color: white;
    font-size: 14px;
}
.results_7_time i
{
    margin-right: 5px;
}
.results_table
{
    width: 950px;
    margin: 0 auto;
    margin-top: 50px;
    font-size: 18px;
    color: #222;
    margin-bottom: 70px;
}
.results_table thead tr
{
    background: white!important;
    cursor: default;
}
.results_table tr
{
    cursor: pointer;
}
.results_table tr:hover
{
    background: #e4ebf3;
}
.results_table th
{
    background: none;
    border-bottom: 2px solid rgb(228,235,243);
}
.results_table td
{
    border-bottom: 2px solid rgb(228,235,243);
}
.refresh
{
    display: block;
    width: 200px;
    height: 54px;
    margin: 0 auto;
    margin-bottom: 70px;
    color: rgb(0,60,132);
    text-decoration: none;
}
.refresh:hover
{
    color: rgb(0,60,132);
}
.refresh_text
{
    font-size: 20px;
    padding-top: 15px;
    padding-left: 10px;
    color: rgb(0,60,132)!important;
}
.icon_refresh
{
    margin: 0 auto;
    display: block;
    width: 55px;
    height: 54px;
    background: url('../images/refresh.png');
    background-size: 55px 54px;
    float: left;
}
.results_active
{
    color: black!important;
    cursor: default;
}

/* MENU
---------------*/

.check_result
{
    color: black;
    text-decoration: none;
    float: right;
    margin-top: -40px;
    margin-right: 130px;
    font-size: 13px;
}
.check_result i
{
    margin-left: 5px;
}
.first_item a
{
    position: absolute;
    top: 0;
    color: black!important;
    font-size: 24px!important;
    font-family: avantgarde_bold;
    padding: 0!important;
    padding-top: 15px!important;
    padding-bottom: 15px!important;
}
.last_item
{
    font-size: 13px;
    color: black;
    position: absolute;
    right: 159px;
    top: 25px;
    text-decoration: none;
}


/* TECK
----------------*/

.right_line
{
    position: fixed;
    right: 0;
    display: block;
    width: 277px;
    height: 100%;
    border-left: 1px solid red;
    z-index: 100;
}
.left_line
{
    position: fixed;
    display: block;
    width: 159px;
    height: 100%;
    border-right: 1px solid red;
    z-index: 100;
}
.added_line
{
    position: fixed;
    display: block;
    right: 0;
    width: 395px;
    height: 100%;
    border-left: 1px solid red;
    z-index: 100;
}
.transparent
{
    position: absolute;
    top: 70px;
    left: 122px;
    display: block;
    width: 1265px;
    height: 560px;
    background: url('../images/tecknical/results_banner.png') no-repeat;
    background-size: 1265px 560px;
    z-index: 100000;
}
.opacity_0
{
    opacity: 0;
}
/* POPUP
---------------------*/
.popup
{
    position: fixed;
    top: 50%;
    left: 50%;
    margin-left: -235px;
    margin-top: -202px;
    width: 592px;
    height: 300px;
    z-index: 3000;
}
.overlay
{
    position: fixed;
    background: rgba(0,0,0,0.7);
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 2000;
}
.hidden
{
    display: none;
}
.popup_body
{
    position: relative;
    display: block;
    background: white;
    width: 510px;
    height: 380px;
    float: left;
}
.last_button
{
    position: absolute;
    display: block;
    width: 148px;
    height: 148px;
    top: 95px;
    left: -160px;
    background: url('../images/icons/last.png')no-repeat;
    background-size: 148px 148px;
    opacity: 0.1;
}
.next_button
{
    position: absolute;
    display: block;
    width: 148px;
    height: 148px;
    top: 95px;
    right: -80px;
    background: url('../images/icons/next.png')no-repeat;
    background-size: 148px 148px;
    opacity: 0.1;
}
.last_button:hover, .next_button:hover
{
    opacity: 1;
    cursor: pointer;
}
.popup_close
{
    cursor: pointer;
    position: absolute;
    display: block;
    width: 40px;
    height: 40px;
    right: 0;    
}
.error
{
    color: red;

}
.popup_place
{
    position: absolute;
    right: 27px;
    top: 25px;
    padding: 0;
    background: red;
    color: white;
    font-weight: bold;
    font-size: 25px;
    padding: 3px 15px 4px 15px;
    border-radius: 30px;
}
.popup_place span
{
    padding: 0;
    margin: 0;
}
.popup_text1
{
    position: absolute;
    display: block;
    width: 150px;
    top: 16px;
    left: 196px;
    font-size: 20px;
}
.popup_line
{
    position: relative;
    border-bottom: 1px solid rgb(210,218,227);
    overflow: hidden;
    min-height: 110px;
}
.curves_count
{
    position: absolute;
    top: 28px;
    left: 84px;
    font-weight: bold;
    font-size: 31px
}
.curves_image
{
    position: absolute;
    left: 30px;
    top: 23px;
    display: block;
    background: red;
    width: 50px;
    height: 50px;
}
.curves_text
{
    position: absolute;
    left: 80px;
    top: 65px;
    margin-bottom: 100px;
    font-size: 16px;
}
.popup_time
{
    position: absolute;
    font-weight: bold;
    font-size: 40px;
    top: 83px;
    left: 250px;
    color: black;
}
.popup_time_image
{
    position: absolute;
    top: 87px;
    margin-left: 23px
}
.popup_text2
{
    margin-left: 100px; 
    margin-top: -18px;
    position: absolute;
    left: 152px;
    top: 152px;
    font-size: 15px;
}
.speed_image
{
    position: absolute;
    left: 193px;
    top: 28px;
}
.speed_count
{
    position: absolute;
    font-weight: bold;
    font-size: 32px;
    left: 251px;
    color: black;
    top: 25px;
}
.speed_text
{
    position: absolute;
    left: 260px;
    top: 65px;
    font-size: 15px;
}
.popup_to_tell
{
    margin-top: 25px;
    margin-left: 25px;
}
.footer_fasebook
{
    position: absolute;
    left: 248px;
    top: 28px;
}
.footer_vk
{
    position: absolute;
    left: 298px;
    top: 28px;
}
.popup_footer
{
    position: relative;
}
.padding_20
{
    padding: 20px;
}
.submit_label
{
    display: block;
    width: 70px;
    float: left;
}
.submit_button{
    
}
/* ABOUT
---------------------*/
.about_banner
{
    display: block;
    position: relative;
    width: 100%;
    height: 397px;
    background: url('../images/about_banner.jpg')no-repeat;
    background-size: 100% 397px;
}
.about_legend
{
    display: block;
    position: relative;
    width: 100%;
    height: 556px;
    background: url('../images/about_legend.jpg')no-repeat;
    background-size: 100% 556px;
}
.about_small
{
    display: block;
    position: relative;
    width: 100%;
    height: 209px;
    background: url('../images/about_small.jpg')no-repeat;
    background-size: 100% 209px;
}
.about_person
{
    display: block;
    position: relative;
    width: 100%;
    height: 513px;
    background: url('../images/about_person.jpg')no-repeat;
    background-size: 100% 513px;
}
.about_wish
{
    display: block;
    position: relative;
    width: 100%;
    height: 379px;
    background: url('../images/about_wish.jpg')no-repeat;
    background-size: 100% 379px;
}

/* SLIDER
-------------------*/
#viewPort{
    position: absolute;
    top: 110px;
    display: block;
    width: 950px;
    height: 450px;
    position: relative;
    overflow: hidden;
}
.slider_block
{
    position: relative;
    width: 100%;
    height: 560px;
    background: rgb(229, 235, 242);
}
#dinamicBlock
{
    position: absolute;
    top: -109px;
    display: block;
    width: 2530px;
    height: 450px;
}
#leftBlock
{
    position: absolute;
    display: block;
    width: 500px;
    height: 450px;
    left: 0;
}
#rightBlock
{
    position: absolute;
    display: block;
    width: 1256px;
    height: 560px;
    right: 0;
}
.slider_controlls
{
    position: absolute;
    top: 77px;
    right: 158px;
    z-index: 1000;
}
.slider_controlls a 
{
    text-decoration: none;
    font-size: 16px;
}
#showFast{
    margin-left: 20px;
}
.dashed
{
    border-bottom: rgb(160,182,209) 1px dashed;
}
.block_bg
{
    display: block;
    width: 100%;
    height: 453px;
    background: url('../images/block_bg.jpg')no-repeat;
    background-size: 100% 453px;
    position: relative;
}
.link
{
    position: absolute;
    display: block;
    width: 220px;
    height: 100px;
    left: 157px;
    bottom: 75px;
    cursor: pointer;
}
.popup_input
{
    border: 1px solid #E0E0E0;
    padding: 10px;
    font-size: 26px;
    width: 386px;
    color: #003c84;
}
.popup_button
{
    margin: 0 auto;
    display: block;
    width: 231px;
    height: 40px;
    background: url('../images/main_btn.jpg')no-repeat;
    background-size: 231px 40px;
    cursor: pointer;
    margin-top: 20px;
}

.slider_block
{
    position: relative;
}

.footer_like_image
{
    position: absolute;
    bottom: 10px;
    right: 70px;
}

.footer_like_text
{
    position: absolute;
    bottom: 0;
    left: 450px;
    font-size: 30px;
}

.popup_time_image
{
    position: absolute;
    left: 168px;
    top: 90px;
}