div.bob_rules_banner{
	width: 1265px;
	padding: 0;
	margin: 0;
	height: 540px;
	background: url("../images/bob_rules_banner_bg.jpg");
	position:relative;
}

div.bob_rules_banner div.t1{

	position: absolute;
	top: 186px;
	left: 177px;
	font-size: 44px;
	font-family: "avantgarde_bold";
	color: white;
	text-align: center;
	line-height: 56px;
	
}

div.bob_rules_game_map{
	width: 1265px;
	padding: 0;
	margin: 0;
	height: 740px;
	background: url("../images/bob_rules_game_map_bg.jpg");
	position:relative;
}

div.bob_rules_game_map  .t1 {

	position: absolute;
	top: 60px;
	left: 159px;
	font-size: 30px;
	font-family: "avantgarde_bold";
	color: black;
	line-height: 40px;

}

div.bob_rules_game_map  .t2 {

	position: absolute;
	top: 222px;
	left: 182px;
	font-size: 16px;
	font-family: "adihaus_cyr_regregular";
	color: black;
	line-height: 18px;
	text-align: right;
}

div.bob_rules_game_map  .t3{

	position: absolute;
	top: 130px;
	left: 733px;
	font-size: 16px;
	font-family: "adihaus_cyr_regregular";
	color: black;
	line-height: 18px;
}

div.bob_rules_game_map  .t4{

	position: absolute;
	top: 262px;
	left: 717px;
	font-size: 16px;
	font-family: "adihaus_cyr_regregular";
	color: black;
	line-height: 18px;
}

div.bob_rules_game_map  .t5{

	position: absolute;
	top: 379px;
	left: 417px;
	font-size: 16px;
	font-family: "adihaus_cyr_regregular";
	color: black;
	line-height: 18px;
	text-align: right;
}

div.bob_rules_game_map  .t6{

	position: absolute;
	top: 531px;
	left: 470px;
	font-size: 16px;
	font-family: "adihaus_cyr_regregular";
	color: black;
	line-height: 18px;
	text-align: right;
}

div.bob_rules_game_map  .t7{

	position: absolute;
	top: 385px;
	left: 941px;
	font-size: 16px;
	font-family: "adihaus_cyr_regregular";
	color: black;
	line-height: 18px;
}

div.bob_rules_game_map  .my_result{
	cursor: pointer;
	position: absolute;
	font-family: "avantgarde_bold";
	font-size: 16px;
	color: black;
	line-height: 20px;
	top: 588px;
	left: 279px;	
}

div.bob_rules_game_map img
{
	cursor: pointer !important;
	position: absolute;
	top: 558px;
	left: 158px;
	
}


div.bob_rules_city_map{
	width: 1265px;
	padding: 0;
	margin: 0;
	height: 500px;
}

div.bob_rules_city_map{
	width: 1265px;
	padding: 0;
	margin: 0;
	height: 500px;
	position:relative;
}

div.bob_rules_contacts{
	position:absolute !important; 
	z-index:5 !important;
	background:#FFF !important;
	height: 442px !important;
	width: 353px !important;
	background: url("../images/bob_rules_contacts_bg.jpg") !important;
	top: 45px;
	left: 20px;
}

div.bob_rules_contacts_rel{
	height: 442px !important;
	width: 353px !important;
	padding: 0;
	margin: 0;
	position:relative;
}

div.bob_rules_contacts  .t1{
	
	position: absolute;
	top: 49px;
	left: 30px;
	font-size: 25px;
	font-family: "avantgarde_bold";
	color: white;
	line-height: 32px;
	
}

div.bob_rules_contacts  .t2{
	
	position: absolute;
	top: 159px;
	left: 65px;
	font-size: 15px;
	font-family: "adihaus_cyr_regregular";
	color: white;
	line-height: 20px;
	
}

div.bob_rules_contacts  .t3{
	
	position: absolute;
	top: 244px;
	left: 65px;
	font-size: 15px;
	font-family: "adihaus_cyr_regregular";
	color: white;
	line-height: 20px;
	
}

div.bob_rules_contacts  .t4{
	
	position: absolute;
	top: 289px;
	left: 65px;
	font-size: 15px;
	font-family: "adihaus_cyr_regregular";
	color: white;
	line-height: 20px;
	
}

div.bob_rules_contacts  .t5{
	
	position: absolute;
	top: 319px;
	left: 65px;
	font-size: 15px;
	font-family: "adihaus_cyr_regregular";
	color: white;
	line-height: 20px;
	
}

div.bob_rules_contacts  .t6{
	
	position: absolute;
	top: 373px;
	left: 65px;
	font-size: 15px;
	font-family: "adihaus_cyr_regregular";
	color: white;
	line-height: 20px;
	
}


div.bob_rules_white{
	position:absolute !important; 
	z-index:5 !important;
	background:#FFF !important;
	height: 30px !important;
	width: 1265px !important;
	top: 0px;
	left: 0px;
}
/************/



div.about_bob_banner{
	width: 1265px;
	padding: 0;
	margin: 0;
	height: 400px;
	background: url("../images/about_bob_banner_bg.jpg");
	position:relative;
}

div.about_bob_banner div.t1{
	position: absolute;
	top: 81px;
	left: 159px;
	font-size: 38px;
	font-family: "avantgarde_bold";
	color: white;
} 

div.about_bob_banner div.t2{
	position: absolute;
	top: 167px;
	left: 158px;
	font-size: 17px;
	font-family: "adihaus_cyr_regregular";
	line-height: 28px;
	color: #FFFFFF;
	-webkit-text-stroke: 0.0px;
	
} 

/*********************/

div.about_bob_legend{
	width: 1265px;
	padding: 0;
	margin: 0;
	height: 559px;
	background: url("../images/about_bob_legend_bg.jpg");	
	position:relative;
}

div.about_bob_legend div.t1{

	position: absolute;
	top: 67px;
	left: 159px;
	font-size: 23px;
	font-family: "avantgarde_bold";
	color: #333333;
	line-height: 30px;

} 

div.about_bob_legend div.t2{
	position: absolute;
	top: 150px;
	left: 158px;
	font-size: 17px;
	color: #333333;
	line-height: 28px;
	font-family: "adihaus_cyr_regregular";
	-webkit-text-stroke: 0.0px;	
} 

div.about_bob_legend div.t3{
	position: absolute;
	top: 346px;
	left: 158px;
	font-size: 17px;
	color: #333333;
	line-height: 28px;
	font-family: "adihaus_cyr_regregular";	
	-webkit-text-stroke: 0.0px;
} 

div.about_bob_legend div.t4{
	position: absolute;
	top: 465px;
	right: 269px;
	font-size: 14px;
	color: #2d2c2f;
	font-family: "avantgarde_bold";
	text-align: center;
	line-height: 19px;
} 

/*********************/

div.about_bob_small{
	width: 1265px;
	padding: 0;
	margin: 0;

	height: 210px;
	background: url("../images/about_bob_small_bg.jpg");	
	position:relative;

}

div.about_bob_small div.t1{
	position: absolute;
	top: 44px;
	left: 158px;
	font-size: 31px;
	font-family: "avantgarde_bold";
	line-height: 38px;
} 

div.about_bob_small div.t2{
	position: absolute;
	top: 43px;
	right: 173px;
	font-size: 17px;
	font-family: "adihaus_cyr_regregular";
	line-height: 28px;
	-webkit-text-stroke: 0.0px;
} 


/*********************/

div.about_bob_wish{
	width: 1265px;
	padding: 0;
	margin: 0;
	height: 380px;
	background: url("../images/about_bob_wish_bg.jpg");
	position:relative;	

}

div.about_bob_wish div.t1{
	position: absolute;
	top: 154px;
	left: 200px;
	font-size: 44px;
	font-family: "avantgarde_bold";
	color: white;
} 

/*********************/

#popup_window {
	width: 800px;
	height: 610px !important;
	display: none;
	background: #FFF;
	padding: 20px;
	margin: 20px;
	z-index: 99999999;
	overflow-y: scroll;
	font-family: "avantgarde_bold";
}


