.main_big_text
{
    position: absolute;
    font-family: avantgarde_bold;
    font-size: 67px;
    color: white;
    top: 270px;
    left: 158px;    
}

.how_big_text
{
    font-family: avantgarde_bold;
    position: absolute;
    top: 38px;
    left: 158px;
    font-size: 30px;
    color: white;
    line-height: 40px;
}

.how_come_text
{
    display: block;
    width: 70px;
    position: absolute;
    left: 376px;
    bottom: 39px;
    color: white;
    font-size: 16px;
    line-height: 20px;
}
.how_registration_text
{
    display: block;
    width: 70px;
    position: absolute;
    left: 598px;
    top: 58px;
    color: white;
    font-size: 16px;
    line-height: 20px;
}
.how_champion_text
{
    display: block;
    width: 70px;
    position: absolute;
    left: 889px;
    top: 47px;
    color: white;
    font-size: 16px;
    line-height: 20px;
}
.how_meet_text
{
    display: block;
    width: 70px;
    position: absolute;
    left: 814px;
    bottom: 64px;
    color: white;
    font-size: 16px;
    line-height: 20px;
}
.how_meet_image
{
    position: absolute;
    top: 190px;
    left: 755px;
}
.how_registration_image
{
    position: absolute;
    top: 57px;
    left: 549px;
}
.how_come_image
{
    position: absolute;
    top: 214px;
    left: 336px;
}
.how_champion_image
{
    position: absolute;
    top: 43px;
    left: 832px;
}