﻿<h1>Политика
в отношении обработки персональных данных
в ООО « АДИДАС»</h1>

<h2>1.	Введение</h2>
<p>1.1.	Важнейшим условием реализации целей деятельности ООО «АДИДАС» (далее ООО «АДИДАС» либо Оператор) является обеспечение необходимого и достаточного уровня информационной безопасности информации, к которой, в том числе, относятся персональные данные. </p>
<p>1.2.	Политика в отношении обработки персональных данных в ООО «АДИДАС» (далее – Положение) определяет порядок сбора, хранения, передачи и иных видов обработки персональных данных в ООО «АДИДАС» (далее – Компания), а также сведения о реализуемых требованиях к защите персональных данных.</p>
<p>1.3.	Политика разработана в соответствии с действующим законодательством РФ. </p>

<h2>2.	Состав персональных данных</h2>
<p>2.1.	Сведениями, составляющими персональные данные, является любая информация, относящаяся к прямо или косвенно определенному или определяемому физическому лицу (субъекту персональных данных). Детальный перечень персональных данных фиксируется в локальной нормативной документации ООО «АДИДАС».</p>
<p>2.2.	Все обрабатываемые ООО «АДИДАС» персональные данные являются конфиденциальной, строго охраняемой информацией в соответствии с законодательством.</p>

<h2>3.	Цели обработки персональных данных</h2>
<p>3.1.	Персональные данные обрабатываются ООО «АДИДАС» в целях оформления трудовых и иных договорных отношений, кадрового, бухгалтерского, налогового учета, а также в целях осуществления деятельности в виде розничной и оптовой торговли по основаниям, предусмотренным ст.22 Федерального закона от 27.06.2006 №152-ФЗ, 85-90 Трудового кодекса РФ.</p>
<p>3.2.	ООО «АДИДАС» в целях надлежащего исполнения своих обязанностей Оператора обрабатывает следующие персональные данные, необходимые для надлежащего исполнения договорных обязательств:</p>
<p>•	персональные данные  работников Оператора, состоящих в трудовых отношениях с Оператором; </p>
<p>•	персональные данные иных физических лиц, в том числе, но не ограничиваясь, состоящих в договорных, ученических, гражданско-правовых отношениях с Оператором, в том числе, но не ограничиваясь, учеников, покупателей, постоянных покупателей, профессиональных спортсменов, кандидатов.</p>
<h2>4.	Порядок сбора, хранения, передачи и иных видов обработки персональных данных</h2>
<p>4.1.	Обработка персональных данных, осуществляемая без использования средств автоматизации, осуществляется таким образом, чтобы в отношении каждой категории персональных данных можно было определить места хранения персональных данных (материальных носителей). Оператором установлен перечень лиц, осуществляющих обработку персональных данных либо имеющих к ним доступ. Обеспечивается раздельное хранение персональных данных (материальных носителей), обработка которых осуществляется в различных целях. Оператор обеспечивает сохранность персональных данных и принимает меры, исключающие несанкционированный доступ к персональным данным. </p>
<p>4.2.	Обработка персональных данных, осуществляемая с использованием средств автоматизации, проводится при условии выполнения следующих действий: Оператор проводит технические мероприятия, направленные на предотвращение несанкционированного доступа к персональным данным и (или) передачи их лицам, не имеющим права доступа к такой информации; защитные инструменты настроены на своевременное обнаружение фактов несанкционированного доступа к персональным данным; технические средства автоматизированной обработки персональных данных изолированы в целях недопущения воздействия на них, в результате которого может быть нарушено их функционирование; Оператор производит резервное копирование данных, с тем, чтобы иметь возможность незамедлительного восстановления персональных данных, модифицированных или уничтоженных вследствие несанкционированного доступа к ним; осуществляет постоянный контроль за обеспечением уровня защищенности персональных данных. </p>
<h2>5.	Сведения о реализуемых требованиях к защите персональных данных.</h2>
<p>5.1.	Оператор проводит следующие мероприятия: определяет угрозы безопасности персональных данных при их обработке, формирует на их основе модели угроз; осуществляет разработку на основе модели угроз системы защиты персональных данных, обеспечивающей нейтрализацию предполагаемых угроз с использованием методов и способов защиты персональных данных, предусмотренных для соответствующего класса информационных систем; формирует план проведения  проверок готовности новых средств защиты информации к использованию с составлением заключений о возможности их эксплуатации; осуществляет установку и ввод в эксплуатацию средств защиты информации в соответствии с эксплуатационной и технической документацией; проводит обучение лиц, использующих средства защиты информации, применяемые в информационных системах, правилам работы с ними; осуществляет учет применяемых средств защиты информации, эксплуатационной и технической документации к ним, носителей персональных данных; осуществляет учет лиц, допущенных к работе с персональными данными в информационной системе; осуществляет контроль за соблюдением условий использования средств защиты информации, предусмотренных эксплуатационной и технической документацией; вправе инициировать разбирательство и составление заключений по фактам несоблюдения условий хранения носителей персональных данных, использования средств защиты информации, которые могут привести к нарушению конфиденциальности персональных данных или другим нарушениям, приводящим к снижению уровня защищенности персональных данных, разработку и принятие мер по предотвращению возможных опасных последствий подобных нарушений; имеет описания системы защиты персональных данных. </p>
<p>5.2.	Для разработки и осуществления конкретных мероприятий по обеспечению безопасности персональных данных при их обработке в информационной системе Оператором или уполномоченным лицом ответственным является подразделение информационных технологий Оператора. Лица, доступ которых к персональным данным, обрабатываемым в информационной системе, необходим для выполнения служебных (трудовых) обязанностей, допускаются к соответствующим персональным данным на основании списка, утвержденного Оператором. Запросы пользователей информационной системы на получение персональных данных, а также факты предоставления персональных данных по этим запросам регистрируются автоматизированными средствами информационной системы в электронном журнале обращений. Содержание электронного журнала обращений периодически проверяется соответствующими должностными лицами (работниками) Оператора или уполномоченного лица. При обнаружении нарушений порядка предоставления персональных данных Оператор или уполномоченное лицо незамедлительно приостанавливают предоставление персональных данных пользователям информационной системы до выявления причин нарушений и устранения этих причин. </p>
<h2>6.	Права и обязанности Оператора</h2>
<p>6.1.	ООО «АДИДАС» как Оператор персональных данных вправе: </p>
<p>•	отстаивать свои интересы в суде; </p>
<p>•	предоставлять персональные данные субъектов третьим лицам, если это предусмотрено действующим законодательством (налоговые, правоохранительные органы и др.); </p>
<p>•	отказывать в предоставлении персональных данных в случаях предусмотренных законодательством; </p>
<p>•	использовать персональные данные субъекта без его согласия, в случаях предусмотренных законодательством.</p>

<h2>7.	Права и обязанности субъекта персональных данных</h2>
<p>7.1.	Субъект персональных данных имеет право:</p>
<p>•	требовать уточнения своих персональных данных, их блокирования или уничтожения в случае, если персональные данные являются неполными, устаревшими, недостоверными, незаконно полученными или не являются необходимыми для заявленной цели обработки, а также принимать предусмотренные законом меры по защите своих прав; </p>
<p>•	требовать перечень своих персональных данных, обрабатываемых Оператором и источник их получения; </p>
<p>•	получать информацию о сроках обработки своих персональных данных, в том числе о сроках их хранения; </p>
<p>•	требовать извещения всех лиц, которым ранее были сообщены неверные или неполные его персональные данные, обо всех произведенных в них исключениях, исправлениях или дополнениях; </p>
<p>•	обжаловать в уполномоченный орган по защите прав субъектов персональных данных или в судебном порядке неправомерные действия или бездействия при обработке его персональных данных; </p>
<p>•	на защиту своих прав и законных интересов, в том числе на возмещение убытков и (или) компенсацию морального вреда в судебном порядке. </p>
<h2>8.	Заключительные положения</h2>
<p>8.1.	Настоящая Политика подлежит изменению, дополнению в случае появления новых законодательных актов и специальных нормативных документов по обработке и защите персональных данных.</p>
<p>8.2.	Настоящая Политика является внутренним документом  ООО «АДИДАС», и подлежит размещению на официальном сайте ООО «АДИДАС». </p>
<p>8.3.	Контроль исполнения требований настоящей Политики осуществляется ответственным за обеспечение безопасности персональных данных ООО «АДИДАС». </p>