﻿<h1 align="center">ПРАВИЛА ПРОВЕДЕНИЯ АКЦИИ</h1>
<h2 align="center">«adidas Бобслей»</h2>
<div style="width:130px;margin:0 auto 10px">(далее – Правила)</div>
<br />
<h2>1.	ОСНОВНЫЕ ПОЛОЖЕНИЯ</h2>
1.1.	Организатором акции «adidas бобслей» (далее – Акция) является ООО «ТБВА», юридический адрес: 109004, г. Москва, ул. Станиславского, д. 21, стр. 1 (далее – «Организатор»).<br />
1.2.	Территория проведения - г. Москва и Московская область.<br />
1.3.	Период проведения Акции: с 21 февраля 2014 г. по 28 марта 2014 г включительно.<br />
1.4.	Период совершения действий, направленных на участие в Акции: с 21 февраля 2014 г. по 21 марта 2014 г.<br />
1.5.	Магазины, принимающие участие в Акции:<br />
1.5.1. Магазин adidas, расположенный в Торговом центре «Европейский» (г. Москва, пл. Киевского вокзала, д. 2).<br />
1.6.	Акция проводится в порядке и на условиях, определенных настоящими Правилами, не является лотереей либо иной, основанной на риске, игрой.
<br /><br />
<h2>2.	ПРИЗОВОЙ ФОНД АКЦИИ</h2>
2.1.	Призовой фонд Акции составляют:<br />
2.1.1.	Главный приз:<br />

Встреча с бобслеистом Александром Зубковым – 1 шт.<br />
Время и место встречи определяются Организатором и сообщаются Победителю дополнительно.<br />

Шлем для бобслея с автографом Александра Зубкова – 1 шт.<br />

2.1.2.	Гарантированные призы: Силиконовые браслеты в количестве 4500 штук<br />

2.2.	Призовой фонд Акции образуется за счет средств Организатора Акции, формируется отдельно и используется исключительно для предоставления участникам Акции, признанным победителями.<br />
2.3.	Выплата денежного эквивалента стоимости натуральной части приза вместо выдачи её в натуре, а также замена призов другими призами по желанию Участников не производится.<br />
2.4.	Внешний вид приза может отличаться от изображенного в рекламных материалах.<br />
<br /><br />
<h2>3.	ПОРЯДОК УЧАСТИЯ В АКЦИИ. ПОРЯДОК И СРОКИ ПОЛУЧЕНИЯ ПРИЗОВ</h2>
3.1.	В Акции могут принимать участие дееспособные граждане Российской Федерации, достигшие 18-летнего возраста, проживающие на территории Российской Федерации, выполнившие действия, предусмотренные п. 3.5 настоящих Правил (далее – Участник). К участию в Акции с согласия законных представителей и в их присутствии также допускаются граждане Российской Федерации, достигшие 14-летнего возраста, проживающие на территории Российской Федерации. <br />
3.2.	К участию в Акции не допускаются лица, рост которых составляет менее 120 см.<br />
3.3.	К участию в Акции не допускаются сотрудники и представители Организатора Акции, аффилированные с ними лица, члены семей таких сотрудников и представителей.<br />
3.4.	Лица, не соответствующие требованиям, предъявляемым к Участникам настоящей Акции, не имеют права на участие в Акции и получение приза.<br />
3.5.	Для того чтобы стать Участником Акции, претендующим на получение Приза, необходимо в период совершения действий, направленных на участие в Акции, совершить следующие действия:<br />
3.5.1.	Заполнить он-лайн анкету в магазине adidas, указанном в п. 1.5.1 настоящих Правил. Анкеты, заполненные не полностью, а также анкеты, в которых отсутствует согласие на обработку персональных данных, к участию в Акции не допускаются.<br />
3.5.2.	Совершить поездку на стимуляторе бобслейной трассы, расположенном в магазине adidas, указанном в п. 1.5.1 настоящих Правил, на время. Организатор вправе отказать Участнику в совершении поездки на стимуляторе без объяснения причин. Участник Акции обязан при совершении поездки на стимуляторе соблюдать правила техники безопасности.<br />
3.5.3.	Один Участник справе совершить поездку на стимуляторе бобслейной трассы только один раз. <br />
3.5.4.	Совершение действий, указанных выше, считается заявкой Участника на участие в Акции, а также ознакомление и согласие с ее условиями.<br />
3.6.	Победитель, получающий Главный Приз, определяется из числа Участников Акции в следующем порядке:<br />
3.6.1.	Все результаты заездов на стимуляторе бобслейной трассы и фотографии участников, сделанные во время заездов, автоматически загружаются на сайт winterwinners.ru.<br />
3.6.2.	Победитель определяется Организатором 21 марта 2014 года.<br />
3.6.3.	Победителем признается Участник, затративший на поездку на симуляторе бобслейной трассы наименьшее время.<br />
3.7.	В срок до 28 марта 2014 года Организатор связывается с Победителем посредством телефона и/или электронной почты, указанных в анкете в соответствии с п. 3.5.1 настоящих Правил, и сообщает место и время получения Главного приза.<br />
3.8.	Призы Первого уровня вручаются Организатором. Место и время сообщается победителю дополнительно.<br />
3.9.	Призы в другие магазины, кроме указанного в п. 1.5 настоящих Правил, а также по иным адресам не высылаются. <br />
3.10.	Каждый Участник Акции, выполнивший действия, установленные п. 3.5 настоящих Правил, получает один из Гарантированных призов. Количество Гарантированных призов ограничено призовым фондом. Гарантированные призы выдаются до полной их раздачи.<br />
3.11.	Гарантированные призы вручаются кассирами фирменного магазина adidas, указанного в п. 1.5 настоящих Правил, всем участникам, совершившим действия, предусмотренные п. 3.5 настоящих Правил, в момент оплаты покупки.<br />
3.12.	Для получения Гарантированного приза Участнику необходимо предъявить промо-код, указанный в SMS-сообщении, полученном при заполнении анкеты, предусмотренной п. 3.5.1 настоящих Правил.<br />
3.13.	В случае если Организатору станут известны факты, которые исключают Победителя из числа Участников (случаи несоблюдения условий, мошенничества, нечестного участия в Акции, заведомого предоставления ложных данных о себе и т.п.), такие Победители лишаются права на получение приза, а Организатор вправе распорядиться им на свое усмотрение<br />
3.14.	Призы, невостребованные до 28 марта 2014 г. включительно, Организатором Акции не хранятся, не выдаются и используются по своему усмотрению.<br />
3.15.	Действующее законодательство не предусматривает возможность или обязанность организаторов акции по хранению невостребованных призов и не регламентирует порядок их востребования участниками акции по истечении срока для получения призов, в связи с чем порядок хранения невостребованных призов и порядок их востребования по истечении сроков получения выигрышей, т.е. после 28 марта 2014 г., Организатором Акции не предусматривается и не устанавливается.<br />
<br /><br />
<h2>4.	ПРАВА И ОБЯЗАННОСТИ УЧАСТНИКОВ АКЦИИ</h2>
4.1.	Участники Акции обязаны выполнять все действия, связанные с участием в Акции и получением призов, в установленные настоящими Правилами сроки.<br />
4.2.	При прекращении проведения Акции Организатор Акции обязан публично уведомить о таком прекращении. <br />
4.3.	Организатор Акции обязан предоставить призы Участникам Акции, совершившим все необходимые действия, предусмотренные п. 3.5 настоящих Правил, и признанными Победителями в соответствии с условиями Акции, до даты публичного уведомления о прекращении проведения Акции.<br />
4.4.	Решения Организатора Акции являются окончательными и обязательными для всех Участников Акции.<br />
4.5.	Участник Акции вправе требовать от Организатора Акции получения информации об Акции в соответствии с настоящими Правилами.<br />
4.6.	Организатор оставляет за собой право не вступать в переписку, либо в иные контакты с участниками Акции, за исключением случаев, указанных в настоящих Правилах<br />
4.7.	Организатор Акции не вправе предоставлять информацию об Участнике Акции третьим лицам, за исключением случаев, предусмотренных законодательством Российской Федерации.<br />
4.8.	Факт участия в Акции означает, что все ее участники соглашаются с настоящими Правилами. <br />
4.9.	Участник Акции может по просьбе Организатора в рекламных целях давать интервью об участии в Акции, в том числе для их размещения по радио и телевидению, а равно в иных средствах массовой информации, либо сниматься для изготовления графических рекламных материалов без уплаты за это какого-либо вознаграждения. Все исключительные права на такие интервью будут принадлежать Организатору. <br />
4.10.	Приняв участие в Акции, Участник подтверждает свое согласие на обработку, включая сбор, хранение, использование и распространение своих персональных данных для целей указанных мероприятий ее Организатором и уполномоченными им лицами, которые будут предпринимать необходимые меры защиты данных от несанкционированного разглашения. Участник имеет право на доступ к данным о себе и/или информации о том, кто и в каких целях использует или использовал его данные. Добровольно предоставленная Участниками информация, в том числе их персональные данные, может быть использована Организатором, его уполномоченными представителями и/или рекламными агентствами, в том числе, в рекламных целях, без получения дополнительного согласия Участников и без уплаты им какого-либо вознаграждения за это. Все права на публикации интервью участников, на публикации съемок Участников для рекламных материалов принадлежат Организатору.<br />
4.11.	Участники Акции разрешают Организатору использовать объекты интеллектуальной собственности, предоставленные участниками в рамках Акции, без ограничений, включая права на распространение, выставление на всеобщее обозрение, сообщение, воспроизведение, переработку, иное любое использование и все прочие права на интеллектуальную собственность, связанные с участием в Акции бессрочно на территории всего мирового пространства. Кроме того, Участник ознакомлен и подтверждает, что путем участия в Акции Участник безотзывно, бессрочно и без выплаты какого-либо вознаграждения дает Организатору Акции, а также любым лицам, действующим с разрешения Организатора Акции, свое согласие на использование полученного в результате проведения данной акции изображения, и предоставляет указанным лицам право воспроизводить, перерабатывать, распространять, обнародовать, а также использовать любыми другими способами, не запрещенными законом, как в цифровом, так и в любом другом виде, в любой форме, целиком или фрагментарно, без ограничений на сопутствующее текстовое, звуковое и/или визуальное оформление,<br />
4.12.	Организатор оставляет за собой право не вступать в письменные переговоры либо иные контакты с Участниками Акции кроме случаев, предусмотренных настоящими Правилами.<br />
4.13.	Организатор Акции не несет ответственности за ошибки/сбои при передаче данных через Интернет или посредством факсимильной связи по вине организаций связи, в результате технических проблем и/или мошенничества в сети Интернет и/или в каналах связи, используемых при проведении Акции, а также по иным причинам, не зависящим от Организатора.<br />
4.14.	Организатор Акции не оплачивает проезд Победителей к месту получения Призов.<br />
4.15.	Все расходы, связанные с получением Призов, Участники Акции несут самостоятельно.<br />
4.16.	Организатор, кроме прочего, в том числе изложенного в Правилах ранее, не несет ответственности за не ознакомление Участниками Акции с Правилами.<br />
4.17.	Организатор вправе вносить изменения в Правила, при условии размещения информации об изменениях в Правилах (вместе с новой редакцией Правил) на странице Adidas в социальной сети «В контакте» (http://winterwinners.ru) не позднее, чем за 3 (три) дня до даты введения изменений в действие.<br />
4.18.	Организатор в сроки, предусмотренные п. 3.7, связывается с Победителем, выигравшим Главный приз, и запрашивает следующую информацию для возможности передачи данному лицу приза: фамилию, имя, отчество, адрес фактического проживания с индексом, контактный телефон с кодом города, данные документа (серию и номер), удостоверяющего личность, данные паспорта гражданина РФ или иного документа, удостоверяющего личность (номер, дата выдачи и выдавший орган, код подразделения), дата рождения, адрес регистрации по месту жительства с индексом, ИНН (при наличии).<br />
<br /><br />
<h2>5.	ЗАКЛЮЧИТЕЛЬНЫЕ ПОЛОЖЕНИЯ</h2>
5.1.	Факт участия в Акции означает, что все ее Участники ознакомлены и полностью согласны с настоящими Правилами.<br />
5.2.	Организатор Акции не обременяет призовой фонд Акции какими-либо обязательствами, за исключением обязательств перед Участниками Акции по передаче (предоставлению) призов, а также не использует средства призового фонда Акции иначе, чем на передачу (предоставление) призов.<br />
5.3.	На призовой фонд Акции не может быть обращено взыскание по иным обязательствам Организатора Акции.<br />
5.4.	Участники Акции информируются об условиях Акции с помощью размещения соответствующей информации:<br />
-    на сайте www.winterwinners.ru<br />
